@charset "utf-8";
/* CSS Document */
* {
	padding: 0px;
	margin: 0px;
}
ul, li {
	list-style: none;
}
a {
	text-decoration: none;
	color: #000;
}
body {
	font-family: "Microsoft Yahei", "Arial", "Helvetica", "SimHei", "STXihei", sans-serif;
}

.main{
	background:#fff;
}

.header{
	width:100%;
	overflow:hidden;
	border-bottom:2px solid #708ACE;
	padding:20px 0;
}
.logo{
	float:left;
	height:55px;
}
.main{
	width:1100px;
	margin:0 auto;
}
.nav{
	float:left;
	margin-left:25px;
}
.nav li{
	float:left;
	margin:26px 20px 0 10px;
}
.nav li a{
	color:#708ACE;
	font-size:15px;
}
.nav li a span{
	display:block;
	width:24px;
	height:2px;
	background:#fff;
	margin:6px auto 0;
}
.nav li a:hover span{
	background:#0016A9;
}
.nav li a span.on{
	background:#0016A9;
}
.nav select{
	width:120px;
	border:none;
	cursor:pointer;
	color:#708ACE;
	font-size:15px;
	line-height:28px;
}
.sy{
	float:left;
	margin-left:50px;
	margin-top:22px;
}
.sy input{
	width:240px;
	float:left;
	height:28px;
	border:1px solid #ccc;
	padding-left:10px;
	color:#708ACE;
}
.sy button{
	width:80px;
	height:30px;
	border:none;
	cursor:pointer;
	background:#708ACE;
	color:#fff;
	outline:none;
	border-radius:2px;
	margin-left:4px;
}
.tx{
	float:right;
}
.tx img{
	margin-top:10px;
}
.title{
	color:#5B57B7;
	font-size:130px;
	text-align:center;
	padding:200px 0 0 0;
}
.bt{
	color:#708ACE;
	font-size:34px;
	text-align:center;
}
.action{
	width:100%;
	overflow:hidden;
	padding:40px 0 200px 0;
	text-align:center;
}
.action a{
	padding:14px 40px;
	background:#708ACE;
	color:#fff;
	display:inline-block;
	border-radius:4px;
	transition:all 1s;
}
.action a:hover{
	padding:14px 60px;
}
.foot{
	width:100%;
	overflow:hidden;
	text-align:center;
	font-size:14px;
	margin-top:20px;
	bottom: 0px;
}
.foot a{
	padding:0 10px;
}
.foot a:hover{
	text-decoration:underline;
}
.left{
	width:598px;
	float:left;
	text-align:center;
}
.left img{
	width:500px;
	padding-top:140px;
}
.right{
	width:500px;
	float:right;
	border-left:2px solid #708ACE;
	padding:100px 0 300px 0;
}
.right .deng{ width:400px; margin:0 auto;}
.deng h1{line-height: 50px;font-size:36px;background-color: #708ACE; color:#fff; padding-left:20px; font-weight:normal;}
form{ width:282px; margin:20px auto 10px;}
.xk{border: 1px solid #708ACE; width:398px; margin-bottom:20px; overflow:hidden;}
form input{ width:280px; padding-left:2px; height:34px; font-size:16px;border: 1px solid #a0b1c4; margin-bottom:20px; color:#708ACE;}
input::-webkit-input-placeholder{color: #708ACE;}
input::-moz-input-placeholder{color: #708ACE;}
input::-ms-input-placeholder{color: #708ACE;}
.dg{ width:100%; overflow:hidden; font-size:22px; line-height:18px;color: #708ACE;}
.dg input{ width:14px; height:14px;border: 1px solid #a0b1c4; float:left; margin-right:4px;}
.btn{ font-size:22px; border-radius:4px; border:1px solid #e3e3f7; cursor:pointer; color:#708ACE; background:none;line-height:45px;height:45px; width:190px;}
.fl{ float:left;}
.fr{ float:right;}
.btn:hover{ background:#708ACE; color:#fff;}

.video{ width:100%; overflow:hidden;}

.Course{
	width:1050px; 
	float:left; 
	border-left:1px solid #708ACE; 
	border-right:1px solid #708ACE;
}

.Course_z{ 
	width:218px; 
	float:left; 
}
.Course_z_on { 
	background:#708ACE; 
	padding-left:5px;  
	color:#fff; 
	line-height:30px; 
	font-size:16px; 
	font-weight:normal;
}
.Course_z_off { 
	padding-left:5px;  
	color:#708ACE; 
	line-height:30px; 
	font-size:16px; 
	font-weight:normal;
}
.Course_z dd{ 
	font-size:16px; 
	color:#708ACE; 
	line-height:30px; 
	padding-left:0px;}
.Course_z dd a:hover{ 
	background:#95ABD8; 
	line-height:30px; 
	padding-left: 20px; color: #fff;  font-size:16px; border:0px;
}



.Course_y{ 
	border-left:1px solid #708ACE; 
	font-family: "times new roman";
	float: left;
	width: 830px;
}

#subtop {
	margin: 0px;
	height:45px;
	padding-top: 20px;
	display:inline-block;
	width: 80%;
}
.subbar{
	width: 100%;
	margin-top: 8px;
	height: 40px;
/* 	border-bottom-width: 1px;
	border-bottom-style: dashed; */
}

#subtop ul li {
	list-style:none;
	float:left;
	padding-left:8px;
}
#subtop ul li a {
	text-decoration:inherit;
	font-size:15px;
	line-height:30px;
	padding:0 20px;
	display:inline-block;
	border-radius: 10px;
}
#subtop ul li a:hover {
	background:#95ABD8;;
	color:white;
}
.post{/* display:inline-block; */display: inline;}

.post button{width:80px;height:30px;border:none;cursor:pointer;background:#708ACE;color:#fff ;
outline:none;border-radius:2px;display:inline-block;}

#title{
	margin-left: 20px;
	margin-top: 30px;
	width: 60%;
	display:inline-block;

}

.subti{
	margin-top: 35px;
	border-bottom: solid 1px  #708ACE;
	padding-bottom: 8px;
}
.subques{
	margin-top: 35px;
	border-bottom: solid 1px  #708ACE;
	padding-bottom: 8px;
}
.subrep{
	margin-top: 35px;
	border-bottom: solid 1px  #708ACE;
	padding-bottom: 8px;

}

#questioner{
	margin-top: 30px;
	width: 20%;
	display:inline-block;
	
	
}

#replies{
	margin-top: 30px;
	width: 15%;
	display:inline-block;

}
.notes{
	margin-left: 20px;
	margin-top: 30px;
	width: 95%;
	border-top-color:#708ACE;
	border-top-width: 0.5px;
	border-top-style: solid;
	padding: 0;
}
.subnotes{margin-left: 20px;margin-top: 30px;font-family: "times new roman";border-bottom-color:#708ACE;
border-bottom-width: 1px;border-bottom-style: solid;padding: 0;width: 95%;height: 100px;display:inline-block;}

.ntitle{width: 100%;margin: 5px;height:25px;font-size: 20px;padding: 0;display:inline-block;}
.ntitle p{ font-weight: 800;}
.ndes{height: 15px;width: 100%;margin: 5px;padding: 0;display:inline-block;}
.authorpng{height: 10px;width: 3%;margin: 5px;padding: 0;display:inline-block;}
.authorpng img{width: 25px;height: 25px;margin: 0px;padding: 0px;}
.nauthor{height: 10px;width: 58%;margin-top: 5px;padding: 0;display:inline-block;}

.subdownload{margin-left: 0px;margin-top: 30px;font-family: "times new roman";border-bottom-color:#708ACE;
	border-bottom-width: 1px;border-bottom-style: solid;padding: 0;width: 95%;height: 75px;display:inline-block;}
.download{float: left;width: 10%;margin: 5px;height:30px;padding: 0;}
.download button{width:65px;height:30px;border:none;cursor:pointer;background:#708ACE;color:#fff;
	outline:none;border-radius:2px;}
.filepng{ width: 15%; height:100%;margin: 0px;padding: 0;float: left; }
.filepng img{ width: 70px;height: 70px;margin: 0px;padding: 0px;}
.dtitle{ width: 70%;margin: 5px;height:30px;font-size: 20px;padding: 0;float: left;}
.dtitle p{ font-weight: 800;}
.dauthor{ height: 20px;margin: 5px; width: 21%;padding: 0;float: left;}
.ddes{height: 20px;width: 60%;margin: 5px;padding: 0;margin: 5px;float: left;}


.thumbpng{height: 10px;width: 3%;margin: 5px;padding: 0;display:inline-block;}
.thumbpng img{width: 20px;height: 20px;margin: 0px;padding: 0px;}
.thumb{
	height: 10px;
	width: 10%;
	margin-top: 5px;
	padding: 0;
	display:inline-block;
}



.commentpng{
	height: 10px;
	width: 3%;
	margin: 5px;
	padding: 0;
	display:inline-block;
}
.commentpng img{
	width: 20px;
	height: 20px;
	margin: 0px;
	padding: 0px;
}
.comment{
	height: 10px;
	width: 10%;
	margin-top: 5px;
	padding: 0;
	display:inline-block;
}


.notice{
	width: 100%;
	margin-left: 60px;
	padding: 0;
	display:inline-block;
	
}
.notice p{
	color: #708ACE;
	font-size: 20px;
}

.thtitle{float:left;margin-left:50px;margin-top:22px;}
.thtitle input{width:740px;float:left;height:30px;border:1px solid #ccc;padding-left:10px;}


.thcontent{
	float:left;margin-left:50px;margin-top:22px;width: 750px;height: 700px;border:1px solid #ccc;
}

.fontStyle{height: 10px;width: 3%;margin: 10px;padding: 0;display:inline-block;}
.fontStyle img{width: 20px;height: 20px;margin: 0px;padding: 0px;}
.thtypein{
	width:720px;float:left;height:500px;padding-left:10px;
	margin-left:10px;margin-top:22px;
}
.thtypein textarea{
	width:710px;float:left;height:500px;resize: none;
}
.thtopic1{
		height: 20px;
		width: 100px;
		margin-top: 30px;
		margin-left: 30px;
		padding: 0;
		float: left;
}
.thtopic2{
	height: 20px;
	width: 100px;
	margin-top: 30px;
	margin-right: 340px;
	padding: 0;
	float: left;
}



.text{ text-align:center; color:#999; line-height:24px; font-size:16px;}
.Course_y h2{ font-size:22px; color:#555; padding-left:20px; font-weight:normal;}
.Course_chapter h1{font-size:30px; color:#333; padding-left: 10px; padding-bottom:8px;font-weight:normal; font-family:"serif"; padding-top: 0px;}
.Course_chapter_on{background:#708ACE; line-height:30px; display:block; padding-left: 20px; color: #FFFFFF;  font-size:16px; border:0px;}
.Course_chapter_off{color:#708ACE; line-height:30px; display:block; padding-left: 20px; font-size:16px; border:0px;}
.Course_chapter h2{ font-size:22px; color:#444; padding-left:10px; font-weight:normal; padding-top: 10px;padding-bottom:2px;font-family:"Times";}
.Course_chapter{ width:578px; float:left; border-left:1px solid #708ACE; padding:15px 0px;}
.Course_chapter li{ width:100%; height:123px; overflow:hidden; border-bottom:1px solid #708ACE; padding:5px 0;}

.list{ width:560px; margin:20px auto;}
.list li{width:100%; overflow:hidden;border-top:1px solid #999; padding:10px 0;}
.nr{ width:300px; margin-left:30px;position: relative;overflow-x: hidden;overflow-y: scroll; height:80px;border:1px solid #ccc; margin-top:10px;}

